Language: Cpp

TabWidth: 2
ColumnLimit: 80

BreakBeforeBraces: Attach
AlignAfterOpenBracket: AlwaysBreak
PointerAlignment: Left
BreakBeforeTernaryOperators: true

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
BinPackArguments: false

AlwaysBreakTemplateDeclarations: true

AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: false

NamespaceIndentation: All
